.page-auth {
    .section-store-auth-login {
            padding: 80px;
            .form-control {
                width:50%;
            }

            h1 {
                font-size: 64px;
            }

            p {
                margin-left: 10px;
            }

    }

    .section-store-auth-sign-up {
        padding: 60px;

        .form-group {
            margin-left: 0%;
        }
        .form-control {
            width:90%;
        }
        h1 {
            font-size: 64px;
        }

        p {
            margin-left: 10px;
        }

}

}