.page-order-success {
    text-align: center;

    h1 {
        font-weight: 700;
    }

    h2 {
        font-size: 20px;
        color: #979797;
    }

    .btn-back-home {
        background: #FFFFFF !important; 
        border: 2px solid #F4C7C9;
        color: #3A3A3A;
    }
}