body {
    background-color: #FFFFFF;
    font-family: 'Jost', sans-serif;
    color: #3A3A3A;
}

.page-content {
    margin-top: 100px;
}

section {
    padding: 60px;
    overflow: hidden;
}

.section-title {
    text-align: center;

    h2 {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
    }
}

.btn {
    background: linear-gradient(91.82deg, #CCCAE8 0%, #F4C7C9 103.24%);
    color: #FFFFFF;
    padding: 8px 82px;
    margin: 20px 0;
    border-radius: 100px;

    &:hover {
        background: #CCCAE8;
        color: #FFFFFF;
    }
}

footer {
    background-color: #fae6e6;
    // margin-top: 100px;
    padding: 50px 50px;

    h4 {
        font-weight: bold;
        font-size: 18px;
    }
}

.form-control {
    width: 100%;
    border: 2px solid #F4C7C9;
    border-radius: 100px;
}

.field-text {
    padding-top: 15px;
}

h4 {
    font-weight: bold;
    font-size: 18px;
}


ul {
    padding: 0;
    li {
        color: #3A3A3A;
        list-style-type: none;
        text-align: left;

        a {
            color: #3A3A3A;
        }
    }
}
